*,
*:after,
*:before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
body {
    font-size: 1.4rem;
}

a,
a:hover,
a:visited {
    color: #fff;
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
